.vscode
webdev\test-site\images
*.exe
*.class
*.png
*.jpeg
*.jpg
file
*.mp4
*.webm
*.svg
*.flf
*.txt
nodejs/node_modules/
*.File
*.prob
C:\Users\shrey\Desktop\CODE_PRACTICE\nodejs\practice\node_modules
